.navigateToPrePage {
  color: var(--white);
  font-size: 24px;
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  transition: 300ms color;
  cursor: pointer;
  display: inline-block;
  margin: 20px 35px 5px 0;
}

.navigateToPrePage:hover {
  color: var(--green);
}
