.container {
  display: flex;
  margin: 15% 0 0 0;
  width: 100%;
  justify-content: space-evenly;
}

.icon {
  color: var(--white);
  cursor: pointer;
  transition: 300ms color;
  font-size: 24px;
}

.icon:hover {
  color: var(--green);
}
