.gridItem {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.title {
  font-family: "El Messiri", "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.gridItem {
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 300px;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
