.gridItem {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 300px;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
