@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@401&display=swap");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 3%;
  background-color: #0d2422;
}

:root {
  --red: #ff5c5c;
  --green: #43dd50;
  --white: #e0e0e0;
  --black: #0d2422;
}
